@media {
  .container{
    width: 1500px;
  }
}


.navbar {
  background-color: #5bc0de;
}

body {
  font-family: sans-serif;
  padding-top: 10em;
}

.img {
  width: 20em;
  margin-top: 2em;
  margin-left: 2em;
}

.btn {
  margin-left: 1em;
  margin-right: 1em;
}

.item-quantity, #sold, #buy {
  display: inline;
}

.item-name {
  text-decoration: underline;
}

.basket {
  margin-top: 4em;
  text-align: center;
  border-style: solid;
  border-color: #31b0d5;
  position: fixed;
}

.basket-item {
  margin-top: 0.5em;
}

.msg {
  position: fixed;
}

